* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

footer {
    background: #333333;
}

/* Classi generiche */

.lightBlue {
    background: #B5DDFF;
}

/* .mTB1 {
    margin: 1em 0;
} */

.pCard {
    padding: 0.5em;
}

.bgWhite {
    background: white;
}

.w100 {
    width: 100%;
}

/* Classi header */

.navSct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 2em 1.5em;
}

.nav {
    background-color: #0084FD;
}


/* Classi main */

    /* Section 1 */

.lSide > img {
    width: 30%;
}

.section1 {
    padding: 2em 1em;
}

    /* Section 2 */

.section2 {
    background: #9792E4;
    padding: 2em 1.5em;
}

    /* Section 3-4-5-6 */

.section3,
.section4,
.section5,
.container100 {
    padding: 2em 1.5em;
}

.cards {
    background: #9792E4;
    margin: 2em 0;
}

    /* Section 4 */

.bgViolet {
    background: #9792E4;
}

.containerS4 {
    background: white;
    margin: 2em 0;
}

    /* Section 7 */

.section7 {
    margin: 0 auto;
    max-width: 380px;
}

/* MEDIA QUERY */

    /* Tablet */
@media screen and (min-width:768px) {
    .section1,
    .section4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section5 {
        display: flex;
    }

    .pCard {
        display: flex;
        justify-content: space-between;
    }

    .mediumContainer {
        width: 66.5%;
    }

    .smallContainer {
        width: 33%;
    }

    .containerS4 {
        width: 48%;
        margin: 2em 0 0 0;
    }

    .container50 {
        width: 50%;
    }
}

    /* Desktop */
@media screen and (min-width:1100px) {
    .section1,
    .navSct,
    .section3,
    .section4,
    .section5,
    .container100 {
        max-width: 1100px;
        margin: 0 auto;
    }

    .section2 {
        display: flex;
        justify-content: center;
    }

    .bigContainer {
        max-width: 450px;
    }

    .containerS4 {
        width: 31%;
    }
}